---
import 'remixicon/fonts/remixicon.css';
import SectionTitle from '@src/components/elements/ui/SectionTitle.astro';
import DeadlineTiles from './elements/DeadlineTiles.astro';

import { getCollection } from 'astro:content';
const upcomingDeadlines = await getCollection('deadlines');

const today = new Date();
today.setHours(0, 0, 0, 0);

const filteredDeadlines = upcomingDeadlines
	.map(deadline => deadline.data)
	.filter(event => new Date(event.endTime) >= today)
	.sort(
		(a, b) =>
			new Date(a.startTime).getTime() - new Date(b.startTime).getTime()
	)
	.slice(0, 3);

function formatDate(dateString: string) {
	const date = new Date(dateString);
	return date.toLocaleDateString('en-US', {
		year: 'numeric',
		month: 'long',
		day: 'numeric',
	});
}
---

<section class="relative z-30 bg-gray-900 p-5 sm:p-10 md:p-14 lg:p-20">
	<SectionTitle> Upcoming Deadlines </SectionTitle>
	<div
		class="mb-10 flex flex-col items-center justify-start gap-4 overflow-auto md:flex-row"
	>
		<!-- <DeadlineTiles -->
		{
			filteredDeadlines.map(deadline => {
				return (
					<DeadlineTiles
						deadlineType={
							deadline.type == 'E' ? 'earlyBird' : 'regular'
						}
						title={deadline.title}
						startDate={formatDate(deadline.startTime)}
						endDate={formatDate(deadline.endTime)}
						calendarObject={deadline.calendarObject}
						detailsLink={deadline.detailsLink}
					/>
				);
			})
		}
	</div>
	<!-- <div class="flex flex-col items-center justify-center gap-4"> -->
	<!-- 	<p -->
	<!-- 		class="m-0 p-0 text-4xl font-normal leading-none text-white underline hover:cursor-pointer hover:no-underline" -->
	<!-- 	> -->
	<!-- 		See all the important deadlines for the conference! -->
	<!-- 	</p> -->
	<!-- </div> -->
</section>

<style>
	::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}

	::-webkit-scrollbar-track {
		background: #ffffff;
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb {
		background: #0368ff;
		border-radius: 10px;
		border: 10px solid #f0f0f0;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #0368ff;
	}

	/* Firefox */
	html {
		overflow: auto;
		scrollbar-color: #0368ff white;
		scrollbar-width: thick;
	}
</style>
