---
import SpeakerTile from '@src/components/elements/SpeakerTile.astro';
import SectionTitle from '@src/components/elements/ui/SectionTitle.astro';
import OverlayBase from '@src/components/elements/OverlayBase.astro';
import SpeakerDetails from './elements/SpeakerDetails.astro';

import { getCollection } from 'astro:content';
const speakers = await getCollection('speakers');
---

<section class="z-50 w-screen bg-white p-5 sm:p-10 md:p-14 lg:p-20">
	<SectionTitle color="black"> Speakers </SectionTitle>
	<section class="flex w-full flex-col items-center justify-start">
		<div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
			{
				speakers.map(speaker => {
					return (
						<SpeakerTile
							image={speaker.data.photograph}
							name={`Dr. ${speaker.data.firstName} ${speaker.data.lastName}`}
							title={speaker.data.position}
							university={
							`${speaker.data.institution}, ${speaker.data.department}`
							}
							talkTitle={
							speaker.data.talkTitle	
							}
							learnMore={speaker.data.linkToMoreInformation}
						/>
					);
				})
			}
		</div>
	</section>
</section>

<OverlayBase identifier="speakerdetails">
	<SpeakerDetails />
</OverlayBase>

<script is:inline>
	const speakbtn = document.getElementById('trigger-overlay');
	const speakoverlay = document.getElementById('speakerdetails');
	speakbtn.addEventListener('click', () => {
		console.log('click!!');
		speakoverlay.classList.toggle('hide');
	});

	speakoverlay.addEventListener('click', event => {
		if (event.target === speakoverlay) {
			speakoverlay.classList.add('hide');
		}
	});
</script>
