---
import SpeakerTile from '@src/components/elements/SpeakerTile.astro';
import SectionTitle from '@src/components/elements/ui/SectionTitle.astro';
import OverlayBase from '@src/components/elements/OverlayBase.astro';
import SpeakerDetails from './elements/SpeakerDetails.astro';

import { getCollection } from 'astro:content';
const speakers = await getCollection('speakers');
---

<section class="z-50 w-screen bg-white p-5 sm:p-10 md:p-14 lg:p-20">
	<SectionTitle color="black"> Speakers </SectionTitle>
	<section class="flex w-full flex-col items-center justify-start">
		<div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
			{
				speakers.map(speaker => {
					return (
						<SpeakerTile
							data={speaker.data}
							image={speaker.data.photograph}
							name={`Dr. ${speaker.data.firstName} ${speaker.data.lastName}`}
							title={speaker.data.position}
							university={`${speaker.data.institution}, ${speaker.data.department}`}
							talkTitle={speaker.data.talkTitle}
							learnMore={speaker.data.linkToMoreInformation}
						/>
					);
				})
			}
		</div>
	</section>
</section>

<OverlayBase identifier="speakerdetails">
	<div
		class="xl:[40%] flex max-h-[96vh] w-full flex-1 flex-col gap-4 overflow-hidden rounded-lg bg-white p-5 transition-all duration-300 ease-in-out sm:w-[80%] md:w-[70%] lg:w-[60%]"
	>
		<section class="flex flex-col justify-between md:flex-row">
			<img
				class="p-speaker-photograph h-auto w-[8rem] bg-[#00BBFF] p-2 pb-0"
				src="/tempPicB.svg"
				alt="profile-picture"
			/>
			<div
				class="flex flex-1 flex-col items-start justify-center gap-2 py-5 leading-none md:px-5 md:py-0"
			>
				<p class="p-speaker-name m-0 text-2xl font-bold leading-none">
					Dr. Hoby Wedler
				</p>
				<p
					class="p-speaker-position m-0 text-lg font-semibold leading-none"
				>
					Professor
				</p>
				<p
					class="p-speaker-institution m-0 text-lg font-light leading-none"
				>
					McGill University, The Metabolomics Innovation Centre (TMIC)
				</p>
			</div>
		</section>
		<section class="flex-1 overflow-y-auto">
			<p class="m-0 text-lg font-bold">About</p>
			<p class="p-speaker-bio m-0 text-lg font-light">
				Dr. Hoby Wedler is a chemist, entrepreneur, sensory expert, and
				advocate for inclusivity in science. Born completely blind, Dr.
				Wedler has continuously defied expectations, earning his Ph.D.
				in organic chemistry from UC Davis in 2016. He has since become
				a highly sought-after motivational speaker, mentor, and
				educator, dedicated to making the world more inclusive and
				accessible. In 2011, Dr. Wedler founded a non-profit
				organization to host annual chemistry camps for blind and
				visually impaired students across North America. That same year,
				he expanded his impact by creating Tasting in the Dark, a unique
				blindfolded wine-tasting experience that explores the world of
				aromas without visual influence. Dr. Wedler's groundbreaking
				work has earned him numerous accolades, including being named a
				Champion of Change by former U.S. President Barack Obama, a
				Forbes "30 Under 30" in Food and Drink, and a Wine Enthusiast
				"40 Under 40 Tastemaker."
			</p>
		</section>
		<section class="p-speaker-events">
			<p class="m-0 text-lg font-bold">Upcoming Events</p>
			<div
				class="flex flex-row gap-4 rounded-md border-[1px] border-solid border-black p-2"
			>
				<div
					class="flex flex-col items-center justify-center gap-2 rounded-md border-[1px] border-solid border-black px-4 py-2"
				>
					<p class="m-0 text-2xl font-bold leading-none">15</p>
					<p class="m-0 text-lg font-light leading-none">May</p>
				</div>
				<div class="flex flex-col items-start justify-center">
					<p class="leading-0 font-regular m-0">Event Title</p>
					<p class="leading-0 m-0 font-light">Event Description</p>
				</div>
			</div>
		</section>
	</div>
</OverlayBase>

<script is:inline>
	const speakbtn = document.getElementById('trigger-overlay');
	const speakoverlay = document.getElementById('speakerdetails');

	speakoverlay.addEventListener('click', event => {
		if (event.target === speakoverlay) {
			speakoverlay.classList.add('hide');
		}
	});

	const speakerPhotograph = document.querySelector('.p-speaker-photograph');
	const speakerName = document.querySelector('.p-speaker-name');
	const speakerPosition = document.querySelector('.p-speaker-position');
	const speakerInstitution = document.querySelector('.p-speaker-institution');
	const speakerBio = document.querySelector('.p-speaker-bio');

	const populateOverlay = speakerInfo => {
		speakerPhotograph.src = `/speakers/${speakerInfo.photograph}`;
		speakerPhotograph.alt = speakerInfo.lastName;
		speakerName.textContent = `${speakerInfo.firstName} ${speakerInfo.lastName}`;
		speakerPosition.textContent = speakerInfo.position;
		speakerInstitution.textContent = `${speakerInfo.department}, ${speakerInfo.institution}`;
		speakerBio.textContent = speakerInfo.biography;
	};

	speakbtn.addEventListener('click', () => {
		document.querySelectorAll('[data-speaker]').forEach(element => {
			element.addEventListener('click', () => {
				const speakerInfo = JSON.parse(element.dataset.speaker);
				populateOverlay(speakerInfo);
				speakoverlay.classList.remove('hide');
			});
		});
	});
</script>
