---
import SectionTitle from '@src/components/elements/ui/SectionTitle.astro';
import SponsorCard from '@src/components/sections/funding/elements/SponsorCard.astro';
import { getCollection } from 'astro:content';
const sponsors = await getCollection('sponsors');
---

<section>
	<SectionTitle color="black">Our Sponsors</SectionTitle>
	<section class="flex flex-col gap-5">
		<div>
			<h2 class="mb-8 text-left text-5xl">Platinum</h2>
			{
				sponsors.map(
					sponsor =>
						sponsor.data.tier == 'platinum' && (
							<SponsorCard
								name={sponsor.data.name}
								logo={sponsor.data.logo}
								href={sponsor.data.link}
							/>
						)
				)
			}
		</div>
		<div>
			<h2 class="mb-8 text-left text-5xl">Gold</h2>
			{
				sponsors.map(
					sponsor =>
						sponsor.data.tier == 'gold' && (
							<SponsorCard
								name={sponsor.data.name}
								logo={sponsor.data.logo}
								href={sponsor.data.link}
							/>
						)
				)
			}
		</div>
		<div>
			<h2 class="mb-8 text-left text-5xl">Silver</h2>
			{
				sponsors.map(
					sponsor =>
						sponsor.data.tier == 'silver' && (
							<SponsorCard
								name={sponsor.data.name}
								logo={sponsor.data.logo}
								href={sponsor.data.link}
							/>
						)
				)
			}
		</div>
		<div>
			<h2 class="mb-8 text-left text-5xl text-black">Bronze</h2>
			{
				sponsors.map(
					sponsor =>
						sponsor.data.tier == 'bronze' && (
							<SponsorCard
								name={sponsor.data.name}
								logo={sponsor.data.logo}
								href={sponsor.data.link}
							/>
						)
				)
			}
		</div>
	</section>
</section>

<style is:inline>
	--platinum-from: #e5e4e2;
	--platinum-to: #d1d0ce;
	--gold-from: rgb(234 179 8);
	--gold-to: rgb(250 204 21);
	--silver-from: rgb(156 163 175);
	--silver-to: rgb(209 213 219);
	--bronze-from: rgb(180 83 9);
	--bronze-to: rgb(217 119 6);
</style>
