---
const { src, title, description, appstore, playstore } = Astro.props;
---

<div class="max-w-[200px]">
	<img src={`/public/usefulapps/${src}`} alt={title} />
	<div class="flex flex-col items-start justify-center gap-2 p-1">
		<h4 class="m-0 p-0 text-2xl leading-none">{title}</h4>
		<p class="m-0 p-0 leading-5">{description}</p>
		<div class="my-auto py-2">
			<a
				class="rounded-md border-[1px] border-solid border-black p-2"
				href={playstore}><i class="ri-google-play-fill"></i></a
			>
			<a
				class="rounded-md border-[1px] border-solid border-black p-2"
				href={appstore}><i class="ri-apple-fill no-underline"></i></a
			>
		</div>
	</div>
</div>
