---
type Props = {
	principle: string;
	description: string;
	color: string;
};
const { principle, description, color }: Props = Astro.props;
---

<div
	class="flex h-full flex-col items-center justify-center bg-white p-8 transition-all duration-200 ease-in-out hover:shadow-2xl"
	style={`border: 2px ${color} solid; border-radius: 0.5rem;`}
>
	<p
		class="w-fit rounded-lg px-4 py-2 text-center text-2xl font-bold"
		style={`border: 2px ${color} solid; border-radius: 1rem; color: ${color}`}
	>
		{principle}
	</p>
	<p class="text-center text-2xl" style={`color: ${color}`}>
		{description}
	</p>
</div>
