---
const { image, name, title, university, talkTitle, learnMore } = Astro.props;
---

<div class="flex h-full w-[20rem] flex-col justify-between bg-white shadow shadow-black">
	<section class="m-0">
		<div class="mb-2 rounded-md bg-[#00BBFF] pb-0">
			<img
				class="m-0 -mb-[0.375rem] h-auto w-full object-cover"
				src={`speakers/${image}`}
				alt={name}
			/>
		</div>
		<p class="m-0 text-lg font-bold">{name}</p>
		<p class="m-0 text-lg font-semibold">{title}</p>
		{
			university !== 'undefined, undefined' && (
				<p class="m-0 py-2 text-lg font-light">{university}</p>
			)
		}
		<!-- <p class="m-0">"{talkTitle}"</p> -->
	</section>
	<div
		id="trigger-overlay"
		class="w-fit rounded-md bg-blue-600 px-4 py-1.5 text-[1.1rem] font-semibold text-white shadow-black transition-all duration-200 hover:cursor-pointer hover:bg-blue-900 hover:shadow"
	>
		Learn More
	</div>
</div>
